# Exclude local files from GCP upload
node_modules
.git
.env
Dockerfile
.dockerignore
npm-debug.log
src/data/auth_debug.log

# Custom EFV files to ignore so deployment doesn't crash (Errno 28)
src/data/*.json
*.json
!package*.json
!coupons_current.json
!partners_current.json
src/uploads/
logs.json
errors.json
*.log
*.txt
